.teal {
  background-color: #674c56 !important;
}

.input-group {
  button {
    margin: 0;
  }
}

.form-control {
  outline: none;
}

.mb-5, .my-5 {
  margin-bottom: 0 !important;
}

.fas {
  cursor: pointer;
}
