<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3" *ngFor="let plate of plates">
        <h5 class="text-uppercase font-weight-bold">{{plate.title}}</h5>
        <p>{{plate.description}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
          <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        </form>
      </div>
      <div class="col-md-6 mb-4">
        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email"
                 aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Sign up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <a class="fb-ic" *ngFor="let item of icons">
            <mdb-icon fab icon="{{item.icon}}" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>



