<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
    <mdb-navbar-brand class="navbar-brand">Menu:</mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let list of lists">
          <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active" routerLink="{{list.route}}"
             [routerLinkActiveOptions]="{exact: true}">{{list.name}}<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#" *ngFor="let list of lists"
                   routerLink="{{list.route}}">{{list.name}}</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
