<ul class="outline">
  <li class="flex d-flex p-2 col-example justify-content-around"
      *ngFor="let item of plates | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <div class="right">
      <a href="/assets/images/{{item.image}}" download><img src="/assets/images/{{item.image}}" alt="No image"></a>
    </div>
    <div class="left">
      <h2 class="article-title">{{item.title}}</h2>
      <p class="article-description">{{item.description}}</p>
      <button class="article-button">Find your nearest store</button>
      <span class="article-text">{{item.descriptionText}}</span>
    </div>
  </li>
</ul>
<ngb-pagination class="d-flex justify-content-center" [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="plates.length"></ngb-pagination>
