.user-container {
  width: 35%;
  margin: auto;

  .user-form {
    flex-direction: column;
    display: flex;
  }
}

.login {
  margin-top: 2%;
  font-size: 20px;
  text-align: center;
}

.logout {
  margin-top: 3%;
  text-align: center;
}
