/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 auto;
  width: 98%;
}

.grid {
  min-height: 100vh;
  display: grid;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

